@import "./scss/style.scss";

.theme-toggle-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: auto;
  transition: all 0.3s ease;

  &:hover {
    background-color: #fff;
    color: #383ddb;
  }
}

html {
  scroll-behavior: smooth;
}


