@import "../../scss/style";

.aboutMeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 40px;
  box-sizing: border-box;
  font-family: $Chiron;
  font-size: 20px;
  margin-top: 3%;

  .introTitle {
    font-size: 2.5rem;
    @include mainTitle ;
  }

  .introSubtitle {
    font-family: $Dela;
    font-size: 24px;
    color: #322b2b;
  }

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

  .introContent {
    max-width: 700px;
    text-align: left;

    .introDescription {
      font-size: 20px;
    }
  }
}
